<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[{{ app_background }}]">
<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">{% block heading %}Dashboard{% endblock %}</h1>
    <div class="grid grid-cols-{{ columns }} gap-4">
        {% block content %}{% endblock %}
    </div>
</div>
<footer>
    <div class="mt-8">
        <button id="startButton" class="bg-blue-500 text-white px-4 py-2 rounded-md">Start Measuring</button>
        <br>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <div class="relative">
                <meter id="meter" high="0.25" max="0.2" value="0"
                    class="w-full h-12 bg-accent text-white rounded-md"
                    low="0.15" optimum="0.5"></meter>
                <div id="dBLabel"
                    class="absolute top-0 left-0 w-full h-full flex items-center justify-center text-xs text-gray-500">
                    0 dB
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
