<!DOCTYPE html>
<html class="h-full" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/site.webmanifest">
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com/3.4.3"></script>
    <script src="https://geoip-js.com/js/apis/geoip2/v2.1/geoip2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.16.0/tingle.min.js"
            integrity="sha512-2B9/byNV1KKRm5nQ2RLViPFD6U4dUjDGwuW1GU+ImJh8YinPU9Zlq1GzdTMO+G2ROrB5o1qasJBy1ttYz0wCug=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.16.0/tingle.min.css"
          integrity="sha512-b+T2i3P45i1LZM7I00Ci5QquB9szqaxu+uuk5TUSGjZQ4w4n+qujQiIuvTv2BxE7WCGQCifNMksyKILDiHzsOg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {% block extra_head %}{% endblock %}
</head>
<body class="flex flex-col min-h-screen  bg-[{{ app_background }}]">
<div class="flex-grow">
    <div class="container mx-auto p-4">
        <nav class="bg-white shadow-lg rounded-lg p-3 mb-4">
            <div class="flex items-center justify-between space-x-4">
                <div class="flex space-x-2">
                    <a href="/"
                       class="flex items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out">
                        🏠 <span class="hidden md:inline ml-2">Home</span>
                    </a>
                    <a href="/history"
                       class="flex items-center bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out">
                        🕒 <span class="hidden md:inline ml-2 truncate">Talkers</span>
                    </a>
                </div>
                <span class="text-sm sm:text-lg font-semibold">{% block heading %}{% endblock %}</span>
                <div class="flex items-center space-x-2">
                    <!-- Weather Emoji and Temperature Display -->
                    <span id="weather-emoji"
                          class="text-sm xl:text-lg font-semibold flex items-center bg-gray-300 text-black py-2 px-4 rounded-full">
                🌡️ --°C
            </span>
                    <a href="/settings"
                       class="flex items-center bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out">
                        🔧 <span class="hidden md:inline ml-2">Settings</span>
                    </a>
                    <a href="/files"
                       class="flex items-center bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out">
                        📡 <span class="hidden md:inline ml-2">SVX</span>
                    </a>
                </div>
            </div>
        </nav>


        {% block content %}{% endblock %}

    </div>
    {% block audio_monitor %}{% endblock %}
</div>

<footer class="bg-gray-200">
    <div class="container mx-auto p-4 text-center">
        <p>&copy; 2024 - All rights reserved YO6SAY - v0.0.3 Alpha - <a href="https://brainic.io/?utm_source=dash"
                                                                        class="text-blue-500">Brainic.io</a></p>
    </div>
</footer>
<script src="{{ url_for('static', filename='js/weather.js') }}"></script>
<script>
    const systemOptionsModal = new tingle.modal({
        closeMethods: ['overlay', 'button', 'escape'],
        closeLabel: "Close"
    });
    // set content
    systemOptionsModal.setContent(`
  <div class="flex flex-col items-center space-y-4 p-4">
    <h1 class="text-lg font-semibold">System Options</h1>
    <!-- System Reboot Button -->
    <button onclick="systemReboot()" class="bg-blue-500 hover:bg-blue-700 active:bg-blue-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline active:scale-95 active:shadow-inner transition duration-300 ease-in-out">
      🔄 System Reboot
    </button>
    <!-- System Turn Off Button -->
    <button onclick="systemShutdown()" class="bg-red-500 hover:bg-red-700 active:bg-red-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline active:scale-95 active:shadow-inner transition duration-300 ease-in-out">
      ⏻ System Turn Off
    </button>
    <!-- System Update Button -->
    <button onclick="updateApp()" class="bg-green-500 hover:bg-green-700 active:bg-green-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline active:scale-95 active:shadow-inner transition duration-300 ease-in-out">
      ⬆️ Update to latest version
    </button>
  </div>
  <div id="systemInfo" class="p-4 overflow-auto max-h-64">
    <!-- System information will be loaded here -->
  </div>
`);

    async function sendSystemCommand(apiEndpoint, successMessage, errorMessage) {
        try {
            const response = await fetch(apiEndpoint, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
            });

            if (response.ok) {
                console.log(successMessage);
                alert(successMessage);
            } else {
                const errorData = await response.json();
                console.error(errorMessage + ': ' + errorData.message);
                alert(errorMessage + ': ' + errorData.message);
            }
        } catch (error) {
            console.error('Network error:', error);
            alert('Network error: ' + error.message);
        }
    }

    function systemReboot() {
        sendSystemCommand('/api/system_reboot', 'System rebooted successfully', 'Failed to reboot system');
    }

    function systemShutdown() {
        sendSystemCommand('/api/system_shutdown', 'System turned off successfully', 'Failed to turn off system');
    }

    function updateApp() {
        sendSystemCommand('/api/update_app', 'App update done successfully', 'Failed to update app');
        // Reload the page
        location.reload();
    }

    window.addEventListener('click', function (evt) {
        // Check if the click event is not on the keyboard or input field to prevent accidental clicks
        if (evt.target.classList.contains('kioskboard-key') || evt.target.classList.contains('js-kioskboard-input')) {
            return;
        }
        if (evt.detail === 2) {
            // Start another timer for double click to check for triple click
            this.doubleClickTimer = setTimeout(function () {
                toggleFullScreen();
            }, 400); // Adjust timing as needed
        } else if (evt.detail === 3) {
            // Clear the double click timer
            clearTimeout(this.doubleClickTimer);
            systemOptionsModal.open();
            getSystemInfo();
        }
    });

    function toggleFullScreen() {
        if (!document.fullscreenElement) {
            // Try to enter fullscreen mode for the entire document; catch any errors
            document.documentElement.requestFullscreen().catch(err => {
                alert(`Error attempting to enable full-screen mode: ${err.message} (${err.name})`);
            });
        } else {
            // Exit fullscreen mode if currently in fullscreen
            if (document.exitFullscreen) {
                document.exitFullscreen();
            }
        }
    }

    async function getSystemInfo() {
        try {
            const response = await fetch('/api/system-info');
            if (!response.ok) {
                console.error('Failed to fetch system info:', response.statusText);
                return;
            }

            const data = await response.json();
            const systemInfo = document.getElementById('systemInfo');
            systemInfo.innerHTML = '';  // Clear previous contents

            let contentHTML = '';
            for (const [key, value] of Object.entries(data)) {
                if (typeof value === 'object') {
                    contentHTML += `
                    <div class="mb-2">
                        <button onclick="this.nextElementSibling.classList.toggle('hidden');" class="text-blue-500 hover:text-blue-700 focus:outline-none">
                            <strong>${key}:</strong>
                        </button>
                        <pre class="hidden bg-gray-100 p-2">${JSON.stringify(value, null, 2)}</pre>
                    </div>`;
                } else {
                    contentHTML += `<p class="mb-1"><strong>${key}:</strong> ${value}</p>`;
                }
            }

            systemInfo.innerHTML = contentHTML;

        } catch (error) {
            console.error('Network error:', error);
        }
    }

</script>
</body>
</html>
