{% extends 'base.html' %}

{% block title %}Category{% endblock %}
{% block heading %}🟢 {{ svx_active_profile }}{% endblock %}
{% block content %}
    <!-- Display category buttons -->
    <div class="grid grid-cols-{{ columns }} gap-4">
        {% for button in buttons_in_category %}
            <button onclick="sendDTMF('{{ button.action }}')"
                    class="bg-[{{ button.color }}] text-[{{ button.fontColor }}] text-lg font-semibold p-2 rounded-md
               active:bg-opacity-75 active:scale-95 active:ring-2 active:ring-[{{ button.color }}]">
                {{ button.label }}
            </button>
        {% endfor %}
    </div>
    <script>
        function sendDTMF(dtmf_code) {
            fetch('/api/send_dtmf', {
                method: 'POST',
                body: JSON.stringify({dtmf_code: dtmf_code}),
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then(async response => {
                if (response.ok) {
                    console.log('DTMF ' + dtmf_code + ' sent successfully');
                } else {
                    const data = await response.json();
                    alert('Failed to send DTMF: ' + data.message);
                }
            });
        }
    </script>
{% endblock %}
