{% extends 'base.html' %}

{% block title %}Category{% endblock %}

{% block content %}
    <!-- Display category buttons -->
    <div class="grid grid-cols-{{ columns }} gap-4">
        {% for button in buttons_in_category %}
            <button onclick="sendDTMF('{{ button.action }}')"
                    class="bg-[{{ button.color }}] text-[{{ button.fontColor }}] text-lg font-semibold p-2 rounded-md">{{ button.label }}</button>
        {% endfor %}
    </div>
    <script>
        function sendDTMF(dtmf_code) {
            fetch('/api/send_dtmf', {
                method: 'POST',
                body: JSON.stringify({dtmf_code: dtmf_code}),
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then(response => {
                if (response.ok) {
                    console.log('DTMF ' + dtmf_code + ' sent successfully');
                    alert('DTMF ' + dtmf_code + ' sent successfully');
                } else {
                    console.error('Failed to send DTMF');
                    alert('Failed to send DTMF: ' + response.statusText);
                }
            });
        }
    </script>
{% endblock %}
