{% extends 'base.html' %}
{% block title %}saycharlie - Dashboard{% endblock %}
{% block extra_head %}
    <style>
        .tingle-modal-box {
            margin-top: 10px !important;
        }
    </style>
    <!-- Include Kioskboard script -->
    <script src="https://cdn.jsdelivr.net/npm/kioskboard@2.3.0/dist/kioskboard-aio-2.3.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/kioskboard@2.3.0/dist/kioskboard-2.3.0.min.css" rel="stylesheet">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
            integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
            crossorigin="anonymous"></script>
{% endblock %}
{% block heading %}📁 {{ svx_active_profile }}{% endblock %}
{% block content %}
    <div class="flex flex-col gap-4 mb-4">
        <div class="flex items-center gap-1">
            <span class="text-sm text-gray-500 shrink-0">RX</span>
            <div class="relative w-full h-6 bg-gray-300 rounded overflow-hidden flex-grow">
                <div class="absolute w-full h-full flex justify-between px-1 text-xs">
                    <span>-30</span>
                    <span>-25</span>
                    <span>-20</span>
                    <span>-15</span>
                    <span>-10</span>
                    <span>-5</span>
                    <span>0</span>
                    <span>3</span>
                </div>
                <div class="absolute w-full h-full flex justify-between px-1">
                    <div class="h-full border-r border-black"></div>
                    <div class="h-full border-r border-black"></div>
                    <div class="h-full border-r border-black"></div>
                    <div class="h-full border-r border-black"></div>
                    <div class="h-full border-r border-black"></div>
                    <div class="h-full border-r border-black"></div>
                    <div class="h-full border-r border-black"></div>
                    <div class="h-full border-r-2 border-red-500"></div>
                </div>
                <div id="peakLevelRX"
                     class="absolute bg-yellow-700 opacity-80 h-full w-3 left-0 transition-all duration-100 ease-out"></div>
                <div id="volumeLevelRX"
                     class="h-full rounded transition-all duration-100 ease-out bg-transparent"></div>
            </div>
        </div>
        <!-- New TX line -->
        <div class="flex items-center gap-1">
            <span class="text-sm text-gray-500 shrink-0">TX</span>
            <div class="relative w-full h-6 bg-gray-300 rounded overflow-hidden flex-grow">
                <div class="absolute w-full h-full flex justify-between px-1 text-xs">
                    <span>-30</span>
                    <span>-25</span>
                    <span>-20</span>
                    <span>-15</span>
                    <span>-10</span>
                    <span>-5</span>
                    <span>0</span>
                    <span>3</span>
                </div>
                <div class="absolute w-full h-full flex justify-between px-1">
                    <div class="h-full border-r border-black"></div>
                    <div class="h-full border-r border-black"></div>
                    <div class="h-full border-r border-black"></div>
                    <div class="h-full border-r border-black"></div>
                    <div class="h-full border-r border-black"></div>
                    <div class="h-full border-r border-black"></div>
                    <div class="h-full border-r border-black"></div>
                    <div class="h-full border-r-2 border-red-500"></div>
                </div>
                <div id="peakLevelTX"
                     class="absolute bg-yellow-700 opacity-80 h-full w-3 left-0 transition-all duration-100 ease-out"></div>
                <div id="volumeLevelTX"
                     class="h-full rounded transition-all duration-100 ease-out bg-transparent"></div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-{{ columns }} gap-4">
        <div id="lastTalker" class="bg-gray-100 border border-gray-300 p-3 rounded-md">Last Talker: Loading...</div>
        <div id="talkerTimer" class="bg-gray-100 border border-gray-300 p-3 rounded-md">Talk Duration: 0 min 0 sec</div>
        <!-- An example of a textarea element: The keyboard type is "all", the placement is "top", and the availability of the special characters is "true". -->
        <button class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4
    focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-semibold rounded-lg text-lg px-5 py-2 text-center
    active:bg-gradient-to-br active:scale-95 active:ring-blue-800"
                onclick="modal.open()">Send custom DTMF
        </button>
        <button id="pttButton"
                class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4
               focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-semibold rounded-lg text-lg px-5 py-2 text-center
               active:bg-gradient-to-br active:scale-95 active:ring-blue-800"
                onclick="togglePTT(this)">Switch PTT ON
        </button>
        <!-- Display category buttons -->
        {% for button in buttons %}
            {% if button.isCategory %}
                <a href="category?id={{ button.id }}" data-category-label="{{ button.label }}"
                   class="inline-flex items-center justify-center bg-[{{ button.color }}] text-[{{ button.fontColor }}] text-lg font-semibold py-2 px-5 rounded-md text-center
          active:bg-opacity-75 active:scale-95">
                    {{ button.label }}
                </a>
            {% endif %}
        {% endfor %}
        <!-- Display standalone buttons -->
        {% for button in buttons %}
            {% if not button.isCategory and not button.category %}
                <button onclick="sendDTMF('{{ button.action }}')"
                        class="bg-[{{ button.color }}] text-[{{ button.fontColor }}] text-lg font-semibold p-2 rounded-md
               active:bg-opacity-75 active:scale-95 active:ring-2 active:ring-[{{ button.color }}]">
                    {{ button.label }}
                </button>
            {% endif %}
        {% endfor %}
    </div>
    <script>
        function togglePTT(button) {
            if (button.innerText === 'Switch PTT ON') {
                button.innerText = '🗣️ Switch PTT OFF'; // PTT is now ON (active transmission)
                sendPTT('O'); // Open squelch for transmission
            } else {
                button.innerText = 'Switch PTT ON'; // PTT is now OFF (stop transmission)
                sendPTT('Z'); // Close squelch to receive
            }
        }

        function sendPTT(ptt_code) {
            fetch('/api/send_ptt', {
                method: 'POST',
                body: JSON.stringify({ptt_code: ptt_code}),
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then(async response => {
                if (response.ok) {
                    console.log('PTT ' + ptt_code + ' sent successfully');
                } else {
                    const data = await response.json();
                    alert('Failed to send PTT: ' + data.message);
                }
            });
        }

        function sendDTMF(dtmf_code) {
            fetch('/api/send_dtmf', {
                method: 'POST',
                body: JSON.stringify({dtmf_code: dtmf_code}),
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then(async response => {
                if (response.ok) {
                    console.log('DTMF ' + dtmf_code + ' sent successfully');
                } else {
                    const data = await response.json();
                    alert('Failed to send DTMF: ' + data.message);
                }
            });
        }
    </script>
    <script src="{{ url_for('static', filename='js/ham-api.js') }}"></script>
    <script src="{{ url_for('static', filename='js/talker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/keyboard.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let peakLevelRX = -30; // Initialize peak level for RX
        let peakLevelTX = -30; // Initialize peak level for TX
        let lastUpdateRX = Date.now(); // Track last update time for RX
        let lastUpdateTX = Date.now(); // Track last update time for TX

        const volumeLevelRX = document.getElementById('volumeLevelRX');
        const peakLevelBarRX = document.getElementById('peakLevelRX');
        const volumeLevelTX = document.getElementById('volumeLevelTX');
        const peakLevelBarTX = document.getElementById('peakLevelTX');
        const minDb = -30;
        const maxDb = 3;

        function updateLevels() {
            const now = Date.now();

            // Update peak level decay for RX
            if (now - lastUpdateRX > 100) {
                peakLevelRX -= 0.5;
                peakLevelRX = Math.max(peakLevelRX, minDb);
                lastUpdateRX = now;
            }
            let peakPercentageRX = ((peakLevelRX - minDb) / (maxDb - minDb)) * 100;
            peakPercentageRX = Math.max(0, Math.min(peakPercentageRX, 100));
            peakLevelBarRX.style.left = `${peakPercentageRX.toFixed(2)}%`;

            // Update peak level decay for TX
            if (now - lastUpdateTX > 100) {
                peakLevelTX -= 0.5;
                peakLevelTX = Math.max(peakLevelTX, minDb);
                lastUpdateTX = now;
            }
            let peakPercentageTX = ((peakLevelTX - minDb) / (maxDb - minDb)) * 100;
            peakPercentageTX = Math.max(0, Math.min(peakPercentageTX, 100));
            peakLevelBarTX.style.left = `${peakPercentageTX.toFixed(2)}%`;

                // Call this function again on the next animation frame
                requestAnimationFrame(updateLevels);
            }

        function getColorForLevel(dB) {
            if (dB < -10) return 'blue';
            else if (dB < 0) return 'yellow';
            else return 'red';
        }

        socket.on('audio_level_rx', function (data) {
            updateLevel(data, volumeLevelRX, peakLevelBarRX, 'RX');
        });

        socket.on('audio_level_tx', function (data) {
            updateLevel(data, volumeLevelTX, peakLevelBarTX, 'TX');
        });

        function updateLevel(data, volumeLevel, peakLevelBar, type) {
            const level = parseFloat(data.level);
            let percentage = ((level - minDb) / (maxDb - minDb)) * 100;
            percentage = Math.max(0, Math.min(percentage, 100));
            volumeLevel.style.width = `${percentage.toFixed(2)}%`;
            volumeLevel.style.backgroundColor = getColorForLevel(level);

            if (type === 'RX') {
                if (level > peakLevelRX || Date.now() - lastUpdateRX > 200) {
                    peakLevelRX = level;
                    lastUpdateRX = Date.now();
                }
            } else if (type === 'TX') {
                if (level > peakLevelTX || Date.now() - lastUpdateTX > 200) {
                    peakLevelTX = level;
                    lastUpdateTX = Date.now();
                }
            }

            let peakPercentage = ((eval(`peakLevel${type}`) - minDb) / (maxDb - minDb)) * 100;
            peakPercentage = Math.max(0, Math.min(peakPercentage, 100));
            peakLevelBar.style.left = `${peakPercentage.toFixed(2)}%`;
        }

        // Start the animation frame for peak level decay
        requestAnimationFrame(updateLevels);
    });
</script>
{% endblock %}