{% extends 'base.html' %}
{% block title %}saycharlie - Dashboard{% endblock %}
{% block extra_head %}
    <style>
        .tingle-modal-box {
            margin-top: 10px !important;
        }
    </style>
    <!-- Include Kioskboard script -->
    <script src="https://cdn.jsdelivr.net/npm/kioskboard@2.3.0/dist/kioskboard-aio-2.3.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/kioskboard@2.3.0/dist/kioskboard-2.3.0.min.css" rel="stylesheet">
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
            integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
            crossorigin="anonymous"></script>
{% endblock %}
{% block heading %}🟢 {{ svx_active_profile }}{% endblock %}
{% block content %}
    <div class="grid grid-cols-{{ columns }} gap-4">
        <div id="lastTalker" class="bg-gray-100 border border-gray-300 p-3 rounded-md">Last Talker: Loading...</div>
        <div id="talkerTimer" class="bg-gray-100 border border-gray-300 p-3 rounded-md">Talk Duration: 0 min 0 sec</div>
        <!-- An example of a textarea element: The keyboard type is "all", the placement is "top", and the availability of the special characters is "true". -->
        <button class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4
    focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-semibold rounded-lg text-lg px-5 py-2 text-center"
                onclick="modal.open()">Send custom DTMF
        </button>
        <button id="pttButton"
                class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4
               focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-semibold rounded-lg text-lg px-5 py-2 text-center
               active:bg-gradient-to-br active:scale-95 active:ring-blue-800"
                onclick="togglePTT(this)">Switch PTT ON
        </button>
        <!-- Display category buttons -->
        {% for button in buttons %}
            {% if button.isCategory %}
                <a href="category?id={{ button.id }}" data-category-label="{{ button.label }}"
                   class="inline-flex items-center justify-center bg-[{{ button.color }}] text-[{{ button.fontColor }}] text-lg font-semibold py-2 px-5 rounded-md text-center
          active:bg-opacity-75 active:scale-95">
                    {{ button.label }}
                </a>
            {% endif %}
        {% endfor %}
        <!-- Display standalone buttons -->
        {% for button in buttons %}
            {% if not button.isCategory and not button.category %}
                <button onclick="sendDTMF('{{ button.action }}')"
                        class="bg-[{{ button.color }}] text-[{{ button.fontColor }}] text-lg font-semibold p-2 rounded-md
               active:bg-opacity-75 active:scale-95 active:ring-2 active:ring-[{{ button.color }}]">
                    {{ button.label }}
                </button>
            {% endif %}
        {% endfor %}
    </div>
    {#    <div class="mt-8">#}
    {#        <div class="flex items-center space-x-4">#}
    {#            <button id="toggleButton" class="bg-blue-500 text-white px-4 py-2 rounded-md whitespace-nowrap">#}
    {#                Start Measuring#}
    {#            </button>#}
    {#            <div class="relative w-full">#}
    {#                <meter id="meter" high="0.25" max="0.2" value="0"#}
    {#                       class="w-full h-12 border border-gray-300 rounded-md"#}
    {#                       low="0.15" optimum="0.5"></meter>#}
    {#                <div id="dBLabel"#}
    {#                     class="absolute top-0 left-0 w-full h-full flex items-center justify-center text-xs font-semibold text-gray-950"#}
    {#                >#}
    {#                    0 dB#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}



    <script>
        function togglePTT(button) {
            if (button.innerText === 'Switch PTT ON') {
                button.innerText = '🗣️ Switch PTT OFF';
                sendPTT('Z');
            } else {
                button.innerText = 'Switch PTT ON';
                sendPTT('O');
            }
        }

        function sendPTT(ptt_code) {
            fetch('/api/send_ptt', {
                method: 'POST',
                body: JSON.stringify({ptt_code: ptt_code}),
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then(response => {
                if (response.ok) {
                    console.log('PTT ' + ptt_code + ' sent successfully');
                } else {
                    console.error('Failed to send PTT');
                    alert('Failed to send PTT: ' + response.message);
                }
            });
        }

        function sendDTMF(dtmf_code) {
            fetch('/api/send_dtmf', {
                method: 'POST',
                body: JSON.stringify({dtmf_code: dtmf_code}),
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then(response => {
                if (response.ok) {
                    console.log('DTMF ' + dtmf_code + ' sent successfully');
                } else {
                    console.error('Failed to send DTMF');
                    alert('Failed to send DTMF: ' + response.message);
                }
            });
        }
    </script>
    <script src="{{ url_for('static', filename='js/ham-api.js') }}"></script>
    <script src="{{ url_for('static', filename='js/talker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/keyboard.js') }}"></script>
{% endblock %}