{% extends 'base.html' %}
{% block title %}Profile Management{% endblock %}
{% block extra_head %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.33.1/ace.js"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
{% endblock %}
{% block heading %}SVX Profiles{% endblock %}
{% block content %}
    <style>
        /* Hide the editor divs initially */
        .editor {
            display: none;
        }
    </style>
    <h1 class="text-2xl font-bold mb-6">Manage Configuration Files</h1>
    <section class="bg-gray-50 p-6 rounded-lg shadow mt-6">
        <h2 class="text-2xl font-bold mb-4">Configuration Files</h2>
        <p class="mb-4">Upload a new configuration file or edit an existing one.</p>
        <form action="/files" method="post" enctype="multipart/form-data" class="mb-4">
            <input type="file" name="file" accept=".conf" class="border p-2 mr-2">
            <input type="submit" value="Upload"
                   class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        </form>
        <ul>
            {% for file in files %}
                <li class="mb-2 p-2 bg-white rounded shadow">
                    {{ file }}
                    <button type="button" onclick="toggleEditor('{{ file }}')"
                            class="ml-2 bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded cursor-pointer">
                        Edit
                    </button>
                    <button type="button" onclick="window.location.href='/files/delete/{{ file }}';"
                            class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded cursor-pointer">
                        Delete
                    </button>
                    <form id="form_{{ file }}" action="/files/edit/{{ file }}" method="post" class="editor mt-2">
                        <div id="editor_{{ file }}" style="height: 200px; width: 100%;"></div>
                        <textarea name="content" id="content_{{ file }}"
                                  style="display:none;">{{ file_contents[file] }}</textarea>
                        <button type="submit"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded mt-2">
                            Save
                        </button>
                    </form>
                </li>
                <script>
                    function setupEditor(file) {
                        const editorDiv = document.getElementById('editor_' + file);
                        const editor = ace.edit(editorDiv);
                        editor.setTheme("ace/theme/monokai");
                        editor.session.setMode("ace/mode/ini");
                        const textArea = document.getElementById('content_' + file);
                        editor.session.setValue(textArea.value);
                        editor.session.on('change', function () {
                            textArea.value = editor.getSession().getValue();
                        });
                        editorDiv.style.display = 'none'; // Hide the editor initially
                    }

                    setupEditor('{{ file }}');
                </script>
            {% endfor %}
        </ul>
    </section>
    <!-- Form for selecting the active profile -->
    <section class="bg-gray-50 mt-6 rounded-lg shadow p-6">
        <h2 class="text-2xl font-bold mb-4">SVX Management</h2>
        <div x-data="profileSwitcher()" x-init="fetchProfiles()">
            <select x-model="selectedProfile" class="block w-full p-2 border rounded mb-4">
                <template x-for="profile in profiles" :key="profile.name">
                    <option x-text="profile.name + (profile.isActive ? ' (Active)' : '') + (profile.host ? ' - ' + profile.host : '')"
                            :disabled="profile.isActive"
                            :value="profile.name"></option>
                </template>
            </select>
            <button
                    :disabled="isProfileActive"
                    :class="{'bg-blue-500 hover:bg-blue-700': !isProfileActive, 'bg-gray-500 cursor-not-allowed': isProfileActive}"
                    @click="switchProfile"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                Activate Profile
            </button>
            <p x-text="message" class="mt-4 text-green-500"></p>
            <!-- Restore the default profile -->
            <button x-text="'Restore Default Profile: ' + activeProfile.host"
                    @click="restoreDefaultProfile" x-show="selectedProfile !== 'default'"
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-150 ease-in-out mt-4">
            </button>
        </div>
        <br>
        <hr>
        <div class="mt-4">
            <button onclick="restartSvxLink()"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                Re/Start SVXLink
            </button>
        </div>
        <div class="mt-4">
            <button onclick="stopSvxLink()"
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                Stop SVXLink
            </button>
        </div>
    </section>
    <script>
        function toggleEditor(file) {
            const form = document.getElementById("form_" + file);
            const editorDiv = document.getElementById('editor_' + file);
            if (form.style.display === 'block') {
                form.style.display = 'none';
                editorDiv.style.display = 'none';
            } else {
                form.style.display = 'block';
                editorDiv.style.display = 'block';
            }
        }
    </script>
    <script>
        function profileSwitcher() {
            return {
                profiles: [],
                selectedProfile: '',
                message: '',
                activeProfile: {},

                fetchProfiles: function () {
                    fetch('/api/profiles')
                        .then(response => response.json())
                        .then(data => {
                            this.profiles = data;
                            // Set selectedProfile to the first active profile found, or the first profile if none are active
                            this.activeProfile = this.profiles.find(p => p.isActive);
                            this.selectedProfile = this.activeProfile ? this.activeProfile.name : (this.profiles.length > 0 ? this.profiles[0].name : '');
                        })
                        .catch(error => console.error('Error loading the profiles:', error));
                },

                get isProfileActive() {
                    const selected = this.profiles.find(p => p.name === this.selectedProfile);
                    return selected ? selected.isActive : false;
                },

                switchProfile: function () {
                    fetch('/api/switch_profile', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({profile: this.selectedProfile})
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                this.message = `Profile switched successfully: ${data.message}`;
                                this.fetchProfiles(); // Refresh profiles to update active status
                            } else {
                                this.message = `Failed to switch profile: ${data.message}`;
                                console.error('Error:', data.message);
                            }
                        })
                        .catch(error => {
                            this.message = `Error: ${error}`;
                            console.error('Error:', error);
                        });
                },

                restoreDefaultProfile: function () {
                    fetch('/api/restore_default_profile', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                this.message = `Profile switched successfully: ${data.message}`;
                                this.fetchProfiles(); // Refresh profiles to update active status
                            } else {
                                this.message = `Failed to switch profile: ${data.message}`;
                                console.error('Error:', data.message);
                            }
                        })
                        .catch(error => {
                            this.message = `Error: ${error}`;
                            console.error('Error:', error);
                        });
                }
            };
        }

        async function stopSvxLink() {
            try {
                const response = await fetch('/stop_svxlink', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'}
                });

                if (!response.ok) {
                    // Optionally, parse the response to get a more detailed error message if available
                    const errorData = await response.json(); // Assuming the server sends a JSON response even on errors
                    alert(`Failed to stop SVXLink: ${errorData.message}`);
                    return; // Exit the function early
                }

                const data = await response.json();
                alert(data.message);
            } catch (error) {
                console.error('Error stopping SVXLink:', error);
                alert('Failed to stop SVXLink. Please try again.');
            }
        }

        async function restartSvxLink() {
            try {
                const response = await fetch('/restart_svxlink', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'}
                });

                if (!response.ok) {
                    // Optionally, parse the response to get a more detailed error message if available
                    const errorData = await response.json(); // Assuming the server sends a JSON response even on errors
                    alert(`Failed to start SVXLink: ${errorData.message}`);
                    return; // Exit the function early
                }

                const data = await response.json();
                alert(data.message);
            } catch (error) {
                console.error('Error starting SVXLink:', error);
                alert('Failed to start SVXLink. Please try again.');
            }
        }
    </script>
{% endblock %}
