{% extends 'base.html' %}
{% block title %}History{% endblock %}
{% block extra_head %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
            integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
            crossorigin="anonymous"></script>
{% endblock %}
{% block heading %}Talkers{% endblock %}
{% block content %}
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4">Last Talkers</h1>
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">Time</th>
                    <th scope="col" class="py-3 px-6">Call Sign</th>
                    <th scope="col" class="py-3 px-6">Name</th>
                    <th scope="col" class="py-3 px-6">TG</th>
                    <th scope="col" class="py-3 px-6">TG Name</th>
                </tr>
                </thead>
                <tbody>
                {% for talker in talkers %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="py-4 px-6">{{ talker.stop_date_time }}</td>
                        <td class="py-4 px-6">{{ talker.callsign }}</td>
                        <td class="py-4 px-6">{{ talker.name }}</td>
                        <td class="py-4 px-6">{{ talker.tg_number }}</td>
                        <td class="py-4 px-6">{{ talker.tg_name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        const socket = io();
        let isInitialLoad = true;
        socket.on('update_last_talker', async function (talker) {
            if (talker.stopped !== true || isInitialLoad) {
                isInitialLoad = false;
                return; // Do not update the table if the talker is still active
            }

            const table = document.querySelector('tbody');
            const row = document.createElement('tr');
            row.className = "bg-white border-b dark:bg-gray-800 dark:border-gray-700";
            const formattedDateTime = new Date(talker.stop_date_time).toLocaleString();
            const name = await fetchName(talker.callsign);
            const displayName = name ? ` ${name}` : ' Name unavailable';
            const tg_name = await getGroupName(talker.tg_number);
            const displayTgName = tg_name ? ` ${tg_name}` : 'Unavailable';

            row.innerHTML = `
        <td class="py-4 px-6">${formattedDateTime}</td>
        <td class="py-4 px-6">${talker.callsign}</td>
        <td class="py-4 px-6">${displayName}</td>
        <td class="py-4 px-6">${talker.tg_number}</td>
        <td class="py-4 px-6">${displayTgName}</td>
    `;

            // Add the new row to the top of the table if it is not the same as the first row
            if (table.rows.length > 0) {
                table.insertBefore(row, table.rows[0]);
            } else {
                // Add the new row to the table if it is empty
                table.appendChild(row);
            }
        });
    </script>
    <script src="{{ url_for('static', filename='js/ham-api.js') }}"></script>
{% endblock %}
