{% extends 'base.html' %}
{% block title %}Settings{% endblock %}
{% block extra_head %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
{% endblock %}
{% block heading %}Settings{% endblock %}
{% block content %}


    <div class="container max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg space-y-8">
        <h1 class="text-3xl font-bold mb-6 text-center">Settings</h1>

        <!-- Form for adding buttons -->
        <section class="bg-gray-50 p-6 rounded-lg shadow">
            <h2 class="text-2xl font-bold mb-4">Add Button</h2>
            <div x-data="buttonManager()">
                <form @submit.prevent="addButton()">
                    <div class="mb-4">
                        <label for="label" class="block text-sm font-semibold mb-2">Button Label:</label>
                        <input type="text" id="label" x-model="newButton.label" required
                               class="border border-gray-400 rounded-md p-2 w-full shadow-sm">
                    </div>
                    <div class="flex items-center mb-4">
                        <input type="checkbox" id="parent_category" x-model="newButton.isCategory" class="mr-2 h-4 w-4">
                        <label for="parent_category" class="text-sm font-semibold">Make it Category</label>
                    </div>
                    <div class="mb-4">
                        <label for="action" class="block text-sm font-semibold mb-2">Button DTMF:</label>
                        <input type="text" id="action" x-model="newButton.action" :disabled="newButton.isCategory"
                               required
                               class="border border-gray-400 rounded-md p-2 w-full shadow-sm">
                    </div>
                    <div class="mb-4">
                        <label for="color" class="block text-sm font-semibold mb-2">Button Color:</label>
                        <input required type="color" id="color" x-model="newButton.color"
                               class="h-10 w-10 border-2 border-gray-300 rounded">
                    </div>
                    <div class="mb-4">
                        <label for="font_color" class="block text-sm font-semibold mb-2">Button Text Color:</label>
                        <input required type="color" id="font_color" x-model="newButton.font_color"
                               class="h-10 w-10 border-2 border-gray-300 rounded">
                    </div>
                    <div class="mb-4">
                        <label for="category" class="block text-sm font-semibold mb-2">Category (optional):</label>
                        <select id="category" x-model="newButton.category" :disabled="newButton.isCategory"
                                :class="newButton.isCategory ? 'border-gray-300 bg-gray-100 cursor-not-allowed' : 'border-gray-400 bg-white cursor-pointer'"
                                class="border rounded-md p-2 w-full shadow-sm">
                            <option value="">None</option>
                            <template x-for="button in buttons" :key="button.id">
                                <option :value="button.id" x-text="button.label"></option>
                            </template>
                        </select>
                    </div>
                    <button type="submit"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                        Save Button
                    </button>
                </form>
            </div>
        </section>

        <!-- Form for adjusting the number of columns -->
        <section class="bg-gray-50 p-6 rounded-lg shadow">
            <h2 class="text-2xl font-bold mb-4">Adjust Columns</h2>
            <div x-data="{ columns: {{ columns }} }">
                <label for="columns" class="block text-sm font-semibold mb-2">Number of Columns:</label>
                <input type="number" x-model="columns" min="1" max="5"
                       class="border border-gray-400 rounded-md p-2 w-full shadow-sm mb-4">
                <button @click.prevent="saveColumns"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
                    Save Columns
                </button>
            </div>
        </section>

        <!-- Form for setting the background color -->
        <section class="bg-gray-50 p-6 rounded-lg shadow">
            <h2 class="text-2xl font-bold mb-4">Set Background Color</h2>
            <div x-data="{ backgroundColor: '{{ app_background }}' }">
                <label for="background" class="block text-sm font-semibold mb-2">App Background Color:</label>
                <div class="flex items-center space-x-4">
                    <input type="color" x-model="backgroundColor"
                           class="h-10 w-10 border-2 border-gray-300 rounded mb-4">
                    <button @click.prevent="saveBackgroundColor"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-150 ease-in-out mb-4">
                        Save Background
                    </button>
                </div>
            </div>
        </section>

        <!-- Form for managing groups -->
        <section class="bg-gray-50 p-6 rounded-lg shadow">
            <h2 class="text-2xl font-bold mb-4">Manage Groups</h2>
            <div x-data="groupsManager()" x-init="fetchGroups()">
                <div class="mb-4">
                    <button @click="addGroup()"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Add Group
                    </button>
                </div>
                <template x-for="(group, index) in groups" :key="index">
                    <div class="bg-white p-4 mb-2 rounded shadow-md flex items-center justify-between">
                        <div>
                            <input x-model="group.number" class="mr-2 px-2 py-1 border rounded" placeholder="Number"
                                   required>
                            <input x-model="group.name" class="px-2 py-1 border rounded" placeholder="Name" required>
                        </div>
                        <div>
                            <button @click="saveGroup(group, index)"
                                    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2">
                                Save
                            </button>
                            <button @click="deleteGroup(group, index)"
                                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                                Delete
                            </button>
                        </div>
                    </div>
                </template>
            </div>
        </section>
    </div>
    <script>
        function buttonManager() {
            return {
                newButton: {
                    label: '',
                    action: '',
                    color: '#ffffff',
                    font_color: '#000000',
                    isCategory: false,
                    category: ''
                },
                buttons: [],  // Array to store buttons

                init() {
                    this.fetchButtons();  // Fetch existing buttons when component is initialized
                },

                fetchButtons() {
                    fetch('/api/category-buttons')  // Adjust the endpoint as necessary
                        .then(response => response.json())
                        .then(data => {
                            this.buttons = data.filter(button => button.isCategory);
                        })
                        .catch(error => console.error('Error loading buttons:', error));
                },

                addButton() {
                    fetch('/add_button', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(this.newButton)
                    })
                        .then(response => response.json())
                        .then(data => {

                            if (data.success) {
                                this.buttons.push({...this.newButton, id: data.id});  // Add the new button to the list
                                this.resetForm(); // Clear the form after successful submission
                            }

                            if (!data.success) {
                                alert(data.message); // Display error message
                            }
                        })
                        .catch(error => {
                            console.error('Error adding button:', error);
                            alert('Failed to add button. Please try again.');
                        });
                },

                resetForm() {
                    this.newButton = {
                        label: '',
                        action: '',
                        color: '#ffffff',
                        font_color: '#000000',
                        isCategory: false,
                        category: ''
                    };
                }
            };
        }

        function saveColumns() {
            fetch('/set_columns', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({columns: this.columns})
            }).then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            }).then(data => {

                if (!data.success) {
                    alert(data.message); // Display error message
                }

            }).catch(error => {
                console.error('Error saving columns:', error);
                alert('Failed to save columns. Please try again.');
            });
        }

        function saveBackgroundColor() {
            fetch('/app_background', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({background: this.backgroundColor})
            }).then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            }).then(data => {
                if (!data.success) {
                    alert(data.message); // Display error message
                }
            }).catch(error => {
                console.error('Error updating background color:', error);
                alert('Failed to update background color. Please try again.');
            });
        }
    </script>

    <script>
        function groupsManager() {
            return {
                groups: [],
                fetchGroups() {
                    fetch('/api/groups')
                        .then(response => {
                            if (!response.ok) {
                                return response.json().then(data => {
                                    alert("Failed to load groups: " + data.message);
                                    throw new Error(`HTTP error ${response.status}: ${data.message}`);
                                });
                            }
                            return response.json();
                        })
                        .then(data => {
                            this.groups = data;
                        })
                        .catch(error => console.error('Error loading groups:', error));
                },
                addGroup() {
                    this.groups.push({id: '', number: '', name: '', isNew: true});
                },
                saveGroup(group, index) {
                    if (!group.number.trim() || !group.name.trim()) {
                        alert("Both the number and name are required.");
                        return;
                    }
                    const url = group.isNew ? '/api/groups' : `/api/groups/${group.id}`; // Use UUID for updates
                    const method = group.isNew ? 'POST' : 'PUT';
                    const body = {number: group.number, name: group.name};

                    fetch(url, {
                        method: method,
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify(body)
                    })
                        .then(response => {
                            if (!response.ok) { // Checks if the status code is not in the range 200-299
                                return response.json().then(data => {
                                    alert(data.message); // Example of alerting the error message
                                    throw new Error(`HTTP error ${response.status}: ${data.message}`);
                                });
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (!data.success) {
                                alert(data.message); // Display error message
                            }
                            if (group.isNew) {
                                group.isNew = false;
                                group.id = data.id; // Update the ID from the server response
                            }
                        })
                        .catch(error => console.error('Error saving group:', error));
                },
                deleteGroup(group, index) {
                    if (!group.id) {
                        this.groups.splice(index, 1);
                        return;
                    }
                    fetch(`/api/groups/${group.id}`, { // Use UUID for deletion
                        method: 'DELETE'
                    })
                        .then(response => {
                            if (!response.ok) { // Check response status
                                return response.json().then(data => {
                                    alert(data.message); // Show error message
                                    throw new Error(`HTTP error ${response.status}: ${data.message}`);
                                });
                            }
                            return response.json(); // Optional: if you expect data back
                        })
                        .then(() => {
                            console.log('Group deleted successfully');
                            this.groups.splice(index, 1); // Remove group from the local model
                        })
                        .catch(error => console.error('Error deleting group:', error));
                }
            }
        }
    </script>
{% endblock %}
